@font-face {
   font-family: 'HarryP-MVZ6w';
   font-display: swap;
   src: url('file:///C:/Users/SAIJAL/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-06_220110/fonts/HarryP-MVZ6w/font.ttf');
}
